* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.space{
    padding: 10px 10px 10px 10px;
}

button {
    background-color: #f50000; /* Red */
    border: none;
    color: white;
    padding: 15px 15px 15px 15px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

/* button {
font: inherit;
padding: 0.25rem 0.5rem;
background: #df0000;
color: white;
border: none;
cursor: pointer;
} */

button:focus {
    outline: none;
}

button:hover,
button:active {
    background: #640000;
}

.btn-cancel {
    background-color: #b0f500; /* Green */
    border: none;
    color: white;
    padding: 15px 15px 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}
.btn-cancel:focus{
    outline: none;
}
.btn-cancel:hover,
.btn-cancel:active {
    background: #4b6400;
}

.btn-confirm {
    background-color: #f5cc00; /* Green */
    border: none;
    color: white;
    padding: 15px 15px 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}
.btn-confirm:focus{
    outline: none;
}
.btn-confirm:hover,
.btn-confirm:active {
    background: #5c6400;
}

/* div {
    padding: 10px;
} */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.backdrop{
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.569); /* Black w/ opacity */
}

.modal {
    display: block; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    /* top: 0; */
    left: 50%;
    top: 5%;
    width: 50%; /* Full width  */
    overflow: auto; /* Enable scroll if needed */
    transform: translate(-50%, -50%);
}



/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 10px 16px 10px 10px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
